// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree for Xiaomi Pad 8 Pro (SM8750-AB)
 *
 * Based on Qualcomm SM8750 MTP/QRD reference board.
 * Xiaomi Pad 8 Pro uses Snapdragon 8 Elite (SM8750-AB).
 */

/dts-v1/;

#include "sm8750.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Xiaomi Pad 8 Pro";
	compatible = "xiaomi,pad8pro", "qcom,sm8750", "qcom,sm8750-mtp";

	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart14;
	};

	chosen {
		bootargs = "console=tty0 console=ttyMSM0,115200n8 earlycon=msm_geni_serial,0xa9c000 root=/dev/block/by-name/userdata rootfstype=ext4 rw init=/sbin/init fbcon=nodefer loglevel=7";
		stdout-path = "/framebuffer@fc800000";
	};

	/* 板级固定时钟：补全 sm8750.dtsi 缺失的引用 */
	xo_board: xo-board {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <38400000>;
		clock-output-names = "xo_board";
	};

	sleep_clk: sleep-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "sleep_clk";
	};

	bi_tcxo_div2: bi-tcxo-div2 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
		clock-output-names = "bi_tcxo_div2";
	};

	bi_tcxo_ao_div2: bi-tcxo-ao-div2 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
		clock-output-names = "bi_tcxo_ao_div2";
	};

	/* Panel regulator - 1.2V for DSI */
	panel_vddio: regulator-panel-vddio {
		compatible = "regulator-fixed";
		regulator-name = "panel_vddio";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		gpio = <&tlmm 45 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		pinctrl-names = "default";
		pinctrl-0 = <&panel_vddio_default>;
	};

	/* Panel reset GPIO */
	panel_reset: regulator-panel-reset {
		compatible = "regulator-fixed";
		regulator-name = "panel_reset";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&tlmm 46 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		pinctrl-names = "default";
		pinctrl-0 = <&panel_reset_default>;
	};

	/* 早期简单帧缓冲：复用bootloader splash显存，启动阶段输出内核日志 */
	framebuffer0: framebuffer@fc800000 {
		compatible = "simple-framebuffer";
		reg = <0x0 0xfc800000 0x0 0x02b00000>;
		width = <3200>;
		height = <2136>;
		stride = <12800>;
		format = "a8r8g8b8";
		status = "okay";
	};
};

/* UART14 - Debug console */
&uart14 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart14_default>;
};

/* I2C for touchscreen */
&i2c8 {
	status = "okay";
	clock-frequency = <400000>;

	/* FocalTech FT8756 or similar touch controller */
	touchscreen@38 {
		compatible = "focaltech,fts";
		reg = <0x38>;

		interrupt-parent = <&tlmm>;
		interrupts = <75 IRQ_TYPE_EDGE_FALLING>;

		reset-gpios = <&tlmm 76 GPIO_ACTIVE_LOW>;

		vdd-supply = <&panel_vddio>;
		avdd-supply = <&panel_vddio>;

		pinctrl-names = "default";
		pinctrl-0 = <&ts_default>;

		touchscreen-size-x = <3200>;
		touchscreen-size-y = <2136>;
		touchscreen-max-pressure = <255>;
	};
};

/* I2C for sensors */
&i2c12 {
	status = "okay";
	clock-frequency = <400000>;

	/* Accelerometer + Gyroscope */
	imu@68 {
		compatible = "st,lsm6dso";
		reg = <0x68>;

		interrupt-parent = <&tlmm>;
		interrupts = <80 IRQ_TYPE_LEVEL_HIGH>;
	};

	/* Magnetometer */
	magn@0c {
		compatible = "st,lis2mdl";
		reg = <0x0c>;
	};
};

/* UFS Storage */
&ufs_mem_hc {
	status = "okay";
};

&ufs_mem_phy {
	status = "okay";
};

/* WiFi / BT (WCN7850 via PCIe) */
&pcie0 {
	status = "okay";

	perst-gpios = <&tlmm 100 GPIO_ACTIVE_LOW>;
	enable-gpios = <&tlmm 99 GPIO_ACTIVE_HIGH>;

	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_default>;
};

&pcie0_phy {
	status = "okay";
};

&tlmm {
	panel_vddio_default: panel-vddio-default {
		pins = "gpio45";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	panel_reset_default: panel-reset-default {
		pins = "gpio46";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	ts_default: ts-default {
		pins = "gpio75", "gpio76";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	uart14_default: uart14-default {
		pins = "gpio42", "gpio43";
		function = "qup_se5_uart";
		drive-strength = <8>;
		bias-disable;
	};

	pcie0_default: pcie0-default {
		pins = "gpio99", "gpio100";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};
};
